.ShowcaseContent {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex: 1;
}

.Simpson { background-image: url("/bg/bg_simpson.svg"); }
.Chocolate { background-image: url("/bg/bg_chocolate.svg"); }
.Bubble { background-image: url("/bg/bg_bubble.svg"); }
.Banana { background-image: url("/bg/bg_banana.svg"); }

.Simpson:hover { box-shadow: inset 0px -350px 150px -100px rgba(173, 75, 160, 0.45); }
.Chocolate:hover { box-shadow: inset 0px -350px 150px -100px rgba(107, 62, 33, 0.65); }
.Bubble:hover { box-shadow: inset 0px -350px 150px -100px rgba(30, 129, 146, 0.55); }
.Banana:hover { box-shadow: inset 0px -350px 150px -100px rgba(161, 140, 46, 0.45); }


/* Simpson */
.Simpson button { background-color: #ac5395; }
.Simpson .DonutPic {
    left: -12vw;
    bottom: 23vh;
    transition: left .8s ease, bottom .8s ease, transform 1s ease, opacity 1s ease;
}
.Simpson:hover .DonutPic {
    opacity: 1;
    left: -5vw;
    bottom: 25vh;
    transform: rotateZ(10deg);
}


/* Chocolate Tasty */
.Chocolate button { background-color: #5c4034; }
.Chocolate .DonutPic {
    right: -12vw;
    top: 3vh;
    transform: rotateZ(0deg);
    transition: right .8s ease, top .8s ease, transform 1s ease, opacity 1s ease;
}
.Chocolate:hover .DonutPic {
    opacity: 1;
    right: -5vw;
    top: 5vh;
    transform: rotateZ(10deg);
}


/* Bubble berry */
.Bubble button { background-color: #4dcdcf; }
.Bubble .DonutPic {
    left: -14vw;
    top: 25vh;
    transform: rotateZ(15deg);
    transition: left .8s ease, top .8s ease, transform 1s ease, opacity 1s ease;
}
.Bubble:hover .DonutPic {
    opacity: 1;
    left: -5vw;
    top: 28vh;
    transform: rotateZ(30deg);
}


/* Banana Blondie */
.Banana button { background-color: #cec754; }
.Banana .DonutPic {
    right: -14vw;
    top: 20vh;
    transform: rotateZ(15deg);
    transition: right .8s ease, top .8s ease, transform 1s ease, opacity 1s ease;
}
.Banana:hover .DonutPic {
    opacity: 1;
    right: -5vw;
    top: 23vh;
    transform: rotateZ(30deg);
}


.Parallax {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    color: white;
    justify-content: flex-end;
    align-items: center;
    box-shadow: inset 0px 0px 50px -30px rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(1);
    transition: box-shadow 1.2s ease, transform 2s ease, filter 1s ease;
}
.Parallax:hover {
    filter: grayscale(0);
}

.DonutPic {
    z-index: 1;
    opacity: .7;
    position: absolute !important;
    width: 500px;
    height: 400px;
}

.Parallax h1 {
    user-select: none;
    opacity: 0;
    font-family: 'Staatliches', cursive;
    font-size: 2.2vw;
    transform: translateY(50vh);
    transition: transform .8s ease, opacity 1.5s ease;
    z-index: 5;
}
.Parallax:hover h1 {
    opacity: 1;
    transform: translateY(-5vh);
}

.Parallax button {
    border: none;
    user-select: none;
    opacity: 0;
    font-family: 'Staatliches', cursive;
    font-size: 1.2vw;
    transform: translateY(50vh);
    color: white;
    padding: 1pc 2pc;
    cursor: pointer;
    transition: transform .9s ease, opacity 1.8s ease;
    z-index: 5;
    border-radius: 50pc;
}
.Parallax:hover button {
    opacity: 1;
    transform: translateY(-8vh);
}
.Parallax button:hover {
    opacity: .5;
}